.Traders-Main-Container {
    height: 100vh;
    display: flex;
}

.Traders-Body-Container {
    padding-top: 70px;
    width: 80%;
    border-right: 1px solid #252B32;
    display: flex;
    flex-direction: column;
}

.Traders-Left-Title-Container {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #252B32;
    
}

.Traders-Left-Options {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    padding: 10px;
}

.Traders-Options-Button {
    background-color: transparent;
    border: none;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.yellow {
    color: #EEB80B;
}

.Traders-Add-Container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    padding: 10px;
}

.Add-User-Button{
    padding: 10px 12px;
    background-color: #EEB80B;
    font-size: 14px;
    font-weight: 600;
    border-color: #EEB80B;
    border-radius: 5px;
}

.Traders-Table-Container {
    flex-grow: 2;
    padding: 10px;
}


.Traders-Table-Holder {
    width: 100%;
    height: 100%;
}

.Traders-Body-Right-Container {
    padding-top: 70px;
    width: 20%;
    /* background: green; */
    position: fixed;
    right: 0;
    height: 100%;
}

