.Navbar {
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #252B32;
    background-color: #131722;
    /* background-color: #131722; */
}

.Navbar .Link {
    color: #EAECEF;
    margin-right: 10px;
    font-weight: bold;
    transition: 0.2s;
}

.Navbar .Logo {
    color: #EEB80B;
}

.Navbar .Link:hover {
    color: #EEB80B;
    cursor: pointer;
}

.Block-1, .Block-2 {
    display: flex;
    align-items: center;
    width: 50%;
}

.Block-2 {
    justify-content: end;
}