.Navbar {
  /* position: fixed; */
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #252b32;
  background-color: #131722;
  /* background-color: #131722; */
}

.Navbar .Link {
  color: #eaecef;
  margin-right: 10px;
  font-weight: bold;
  transition: 0.2s;
}

.Navbar .Logo {
  color: #eeb80b;
}

.Navbar .Link:hover {
  color: #eeb80b;
  cursor: pointer;
}

.Block-1,
.Block-2 {
  display: flex;
  align-items: center;
  width: 50%;
}

.Block-2 {
  justify-content: end;
}

.BEmail {
  color: #eeb80b;
  font-weight: 700;
  cursor: pointer;
}

.AddTop {
  margin-top: 50px;
}
