.Trade {
  background-color: #1e2329;
  width: 100%;
}

.Trade .Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #353b42;
}

.Trade .Top button {
  background-color: #474d57;
  border: none;
  color: #eaecef;
  padding: 10px 50px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.Trade .Tune {
  color: #3d4653;
}

.Trade .Mid,
.LowerMid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #353b42;
}

.LowerMid {
  text-align: center;
}

.LowerMid .Text {
  color: #6f7682;
  font-weight: 700;
  margin-bottom: 3px;
}

.LowerMid .Sub {
  font-size: 18px;
  font-weight: 700;
}

.Trade .Inside {
  display: flex;
  align-items: center;
}

.Trade .Inside-2 {
  display: flex;
  align-items: center;
}

.Trade .Inside .Text {
  color: #6f7682;
  font-weight: 700;
}

.Trade .Tr {
  margin-right: 15px;
}

.Trade .Market {
  color: #eeb80b !important;
}

.Inside-2 .Icon,
.Mid .Icon {
  color: #353b42;
}

.Form {
  padding: 20px;
}

.Form .Price {
  background-color: #2b3139;
  padding: 15px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Form .Price label {
  color: #77808c;
  font-weight: 700;
  padding-left: 10px;
  font-size: 18px;
}

.Form input {
  background-color: transparent;
  border: none;
  color: #eaecef;
  font-weight: 700;
  font-size: 20px;
  outline: none;
  text-align: right;
}

.Bottom {
  display: flex;
  justify-content: space-between;
}

.Bottom button {
  background-color: transparent;
  border: none;
  color: #eaecef;
  padding: 15px 43px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.Bottom .Buy {
  background-color: #0dcb81;
}

.Bottom .Sell {
  background-color: #f7475d;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
